<div id="shape_<%= shape.id %>" class="shape <%= shape.type.class_name %><%= shape.type.container ? " container" : "" %>" style="top: <%= shape.y %>px; left: <%= shape.x %>px;" draggable="true">

	<div class="screen">
	
	</div>

</div>